/* Estilos específicos para la página de productos y servicios */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: "Poppins", sans-serif;    
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
  padding: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    width: 100%;
    margin: auto;
}
.navbar {
    width: 100%;
    box-shadow: 0 0.0625rem 0.25rem rgb(146 161 176 / 15%);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    width: 85rem;
    height: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.875rem;
}
  
.navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 100%;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 65x;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 60px;
    background-color: white;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 40%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
   
  .main1{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }

.img11 {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  max-height: 200px;
}

.img12,
.img13 {
  max-width: 100%;
  width: 100%; 
  vertical-align: middle;
  max-height: 221px;
}
.img14,
.img15,
.img16{
  height: auto;
  max-width: 100%;
  width: 100%; /* Agregamos esta línea */
  vertical-align: middle;
  max-height: 200px;
}
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #5d9ec4 40%, #FFC39E 100%);
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }